.top-left {
    display: flex;
    float: left;
    justify-content: left;
    width: viewport-length / 2;
    margin-top: 0.1rem;
}

.top-right {
    display: flex;
    float: right;
    justify-content: right;
    width: viewport-length / 2;
    margin: 0 auto;
    margin-top: 0.1rem;
}

.icon {
    width: 20px;
    height: 20px;
    padding-left: 0rem;
    padding-right: 0.25rem;
}

.title {
    font-size: 1.5rem;
    color: cadetblue;

    display: flex;
    justify-content: center;
    width: viewport-length;
    margin: 0 auto;
    margin: 0.1rem;
}

.subtitle {
    color: rgb(154, 149, 186);
    margin: 0.5rem;
}

.cols {
    position: relative;
    float: left;
    padding: 50px;
    margin: 50px;
    background-color: gray;
    color:white;
    text-align: center;
}

.cols:hover {
    background-color: rgb(154, 149, 186);
}

.cols:hover .label{
    background-color: rgb(154, 149, 186);
}

.cols:hover .thumbnail{
    filter: grayscale(0);
}

.thumbnail{
    filter: grayscale(1);
    width: 300px;
    height: 300px;
    background-color: white;
}

.label {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0.25rem;
    background-color: gray;
}

input {
    color: gray;
    outline-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragraphs {
    color: gray;
    margin-left: 1rem;
}

.bio {
    display: flex;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.header {
    text-align: left;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: rgb(154, 149, 186);
    color: rgb(58, 58, 58);
}

.table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

td {
    font-size: 1rem;
    padding: 8px;
    color: cadetblue;
}

.table tr:nth-child(even){background-color: gainsboro};